<h1>Users</h1>

<% if users.empty? %>
  All users are being followed.
<% else %>
  <% users.each do |user| %>
    <div class="section">
      User
      <%= link_to user.email, user_path(user) %>
    </div>
  <% end %>
<% end %>
